@import './colors.scss';

html {
    block-size: 100%;
    background-color: var(--surface1);
    color: var(--text1);
    accent-color: var(--brand);
}

body {
    min-block-size: 100%;
    font-family: system-ui, sans-serif;
    padding: 5vmax;
    display: grid;
    place-content: center;
    gap: 5vmax;
    --size: 20ch;
}
